<body ng-controller="MainCtrl">

  <div class="container-fluid">
    <h1 class="text-center" ng-bind="header"></h1>
    <h3 class="text-center" ng-bind="subheader"></h3>



    <div class="row">
      <div ng-repeat="food in foods" class="col-xs-6 col-md-3">
        <a href={{food.redirect}} class="thumbnail text-center">
          <span class="emoji-holder text-center">{{food.emoji}}</span>
        </a>
      </div>
    </div>
  </div>





  <style media="screen">
    .emoji-holder {
      font-size: 6em;
    }

    body div .jumbotron {
      background-color: red;
      border-radius: .25em;
      width: 15em;
    }
  </style>

</body>
