<body ng-controller="MainCtrl">

  <div class="container-fluid">

    <h1 class="text-center" id="title">ChowSauce</h1>
    <style media="screen">
      #title {
        font-family: 'Raleway', sans-serif;
        font-size: 60px;
        font-weight: 800;
        line-height: 72px;
        margin: 0 0 -15px;
        text-align: center;
        transition: all .2s ease-in-out;
        text-shadow: 2px 2px #00e7ff;
      }

      #title:hover {
        transform: scale(1.05);
      }
    </style>
    <h3 class="text-center" ng-bind="subheader"></h3>



    <div class="row">
      <div ng-repeat="food in foods" class="col-xs-6 col-md-3">
        <a href={{food.redirect}} class="thumbnail text-center">
          <span class="emoji-holder text-center">{{food.emoji}}</span>
        </a>
      </div>
    </div>
  </div>





  <style media="screen">
    .emoji-holder {
      font-size: 6em;
    }

    body div .jumbotron {
      background-color: red;
      border-radius: .25em;
      width: 15em;
    }
  </style>

</body>
