<body>

  <div class="container-fluid map-container">
    <div class="sidebar" id="sidebar">

      <h1 id="forceblack">Restraunts</h1>


      <div id="listings" class="listings"></div>

    </div>
    <div id="map" class="map"></div>
  </div>


  <script type="text/javascript">
    var map_loaded = false;
    var yelp_loaded = false;
    var long = null; //-78.926931; //null;
    var lat = null; // 36.004203; // null;
    var yelp_data = {};
    var map = null;



    pathArray = location.href.split("/");
    protocol = pathArray[0];
    host = pathArray[2];
    url = protocol + "//" + host;
    POST_baseurl = url + "/";


    // -------------------------- // IP Call // ------------------------- //
    if (navigator.geolocation) {
      console.log("geolocation supported by browser found");
      console.log(navigator.geolocation);
      navigator.geolocation.getCurrentPosition(function(position) {
        lat = position.coords.latitude;
        long = position.coords.longitude;
        console.log("In setIP");
        console.log(lat);
        console.log(long);
        APICalls();
      }, function() {
        console.log("location denied.");
        IPAjax();
      });
    } else {
      console.log("Geolocation is not supported by this browser.");
      IPAjax();
    }

    function IPAjax() {
      $.ajax({
        type: "POST",
        success: function(response) {
          console.log("lat long recieved from server");
          lat = response.lat;
          long = response.long;
          APICalls();
        },
        error: function(xhr) {
          console.log("Failure");
          console.log(xhr);
        },
        url: POST_baseurl + "IP"
      });
    }





    function APICalls() {

      // -------------------------- // Yelp API Call // ------------------------- //
      var yelp_start_time = new Date().getTime();
      console.log("lat: " + lat);
      console.log("long: " + long);
      $.ajax({
        type: "POST",
        data: {
          "food_type": getParameterByName("type", window.location.href),
          "geolocation": false,
          "long": long,
          "lat": lat,
          "radius": 1000,
          "limit": 30
        },
        success: function(response) {
          var yelp_request_time = new Date().getTime() - yelp_start_time;
          console.log("Yelp Request time: " + yelp_request_time);
          YelpCallback(response);
        },
        error: function(xhr) {
          console.log("Failure");
          console.log(xhr);
        },
        url: POST_baseurl + "yelp"
      });

      // -------------------------- // MapBox API Call // ------------------------- //
      var map_start_time = new Date().getTime();
      mapboxgl.accessToken = "pk.eyJ1IjoiamVyZW15c21vcmdhbiIsImEiOiJjaWxjemtvYWEzejR4dHlseGlkaGZmb2t5In0.BOYaLR5RW0tbUPTFuz5Y0g";
      map = new mapboxgl.Map({
        container: "map",
        style: "mapbox://styles/jeremysmorgan/cixxc3h1i00232rqjeeagcb2l",
        center: [long, lat],
        zoom: 13
      });

      map.on("load", function(e) {
        var map_load_time = new Date().getTime() - map_start_time;
        console.log("map_load_time: " + map_load_time);
        MapCallback(e);
      });
    }


    function YelpCallback(data) {
      yelp_loaded = true;
      yelp_data = data;
      console.log(data);
      if (map_loaded) {
        console.log("yelp called back seconde, map load. Entering main()");
        main();
      } else {
        console.log("yelp called back first, map not loaded");
      }
    }

    function MapCallback(e) {
      map_loaded = true;
      if (yelp_loaded) {
        console.log("map called back second, entering main");
        main();
      } else {
        console.log("map called back first, yelp not loaded");
      }
    }



    function main() {
      var data = yelp_data;
      var listings = document.getElementById("listings");
      for (var i = 0; i < data.length; i += 1) {
        var name = data[i].name;
        var listing = listings.appendChild(document.createElement("div"));
        listing.className = "item";
        listing.id = "listing-" + i;
        var details = listing.appendChild(document.createElement("div"));
        details.innerHTML = name;
        var image = listing.appendChild(document.createElement("div"));
      }

      var features = [];

      for (var i = 0; i < data.length; i += 1) {
        var current_listing = data[i];
        features.push({
          "type": "Feature",
          "geometry": {
            "type": "Point",
            "coordinates": [current_listing.coordinates.longitude, current_listing.coordinates.latitude]
          },
          "properties": {
            "title": current_listing.name,
            "icon-image": "restaurant-15"
          }
        });
      }

      map.addLayer({
        "id": "restraunts",
        "type": "symbol",
        "source": {
          "type": "geojson",
          "data": {
            "type": "FeatureCollection",
            "features": features
          }
        },
        "layout": {
          "icon-image": "{icon}-15",
          "text-field": "{title}",
          "text-font": ["Open Sans Semibold", "Arial Unicode MS Bold"],
          "text-offset": [0, 0.6],
          "text-anchor": "top"
        }
      });
    }

    /*
        // Add an event listener for the links in the sidebar listing
        link.addEventListener('click', function(e) {
          // Update the currentFeature to the store associated with the clicked link
          var currentFeature = data.features[this.dataPosition];
          // 1. Fly to the point associated with the clicked link
          flyToStore(clickedListing);
          // 2. Close all other popups and display popup for clicked store
          createPopUp(clickedListing);
          // 3. Highlight listing in sidebar (and remove highlight for all other listings)
          var activeItem = document.getElementsByClassName('active');
          if (activeItem[0]) {
            activeItem[0].classList.remove('active');
          }
          this.parentNode.classList.add('active');
        });
    */

    function flyToStore(currentFeature) {
      map.flyTo({
        center: currentFeature.geometry.coordinates,
        zoom: 15
      });
    }

    function createPopUp(currentFeature) {
      var popUps = document.getElementsByClassName('mapboxgl-popup');
      // Check if there is already a popup on the map and if so, remove it
      if (popUps[0]) popUps[0].remove();

      var popup = new mapboxgl.Popup({
          closeOnClick: false
        })
        .setLngLat(currentFeature.geometry.coordinates)
        .setHTML('<h3>Sweetgreen</h3>' +
          '<h4>' + currentFeature.properties.address + '</h4>')
        .addTo(map);
    }


    // -------------------------- // Accessory Functions  // ------------------------- //
    function getParameterByName(name, url) {
      if (!url) {
        url = window.location.href;
      }
      name = name.replace(/[\[\]]/g, "\\$&");
      var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
      if (!results) return null;
      if (!results[2]) return "";
      return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
  </script>

  <style media="screen">
    /* ------------------------ // Map Directive CSS // ----------------------- */
    /* Marker tweaks */

    .mapboxgl-popup-close-button {
      display: none;
    }

    .mapboxgl-popup-content {
      font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
      padding: 0;
      width: 180px;
    }

    .mapboxgl-popup-content-wrapper {
      padding: 1%;
    }

    .mapboxgl-popup-content h3 {
      background: #91c949;
      color: #fff;
      margin: 0;
      display: block;
      padding: 10px;
      border-radius: 3px 3px 0 0;
      font-weight: 700;
      margin-top: -15px;
    }

    .mapboxgl-popup-content h4 {
      margin: 0;
      display: block;
      padding: 10px;
      font-weight: 400;
    }

    .mapboxgl-popup-content div {
      padding: 10px;
    }

    .mapboxgl-container .leaflet-marker-icon {
      cursor: pointer;
    }

    .mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
      margin-top: 15px;
    }

    .mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
      border-bottom-color: #91c949;
    }

    body {
      color: #404040;
      font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
      margin: 0;
      padding: 0;
      -webkit-font-smoothing: antialiased;
    }

    * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    h1 {
      font-size: 22px;
      margin: 0;
      font-weight: 400;
      line-height: 20px;
      padding: 20px 2px;
    }

    a {
      color: #404040;
      text-decoration: none;
    }

    a:hover {
      color: #101010;
    }

    .sidebar {
      position: absolute;
      width: 33.3333%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: hidden;
      border-right: 1px solid rgba(0, 0, 0, 0.25);
    }

    .pad2 {
      padding: 20px;
    }

    .map {
      position: absolute;
      left: 33.3333%;
      width: 66.6666%;
      top: 0;
      bottom: 0;
    }

    .heading {
      background: #fff;
      border-bottom: 1px solid #eee;
      height: 60px;
      line-height: 60px;
      padding: 0 10px;
    }

    .listings {
      height: 100%;
      overflow: auto;
      padding-bottom: 60px;
    }

    .listings .item {
      display: block;
      border-bottom: 1px solid #eee;
      padding: 10px;
      text-decoration: none;
    }

    .listings .item:last-child {
      border-bottom: none;
    }

    .listings .item .title {
      display: block;
      color: #00853e;
      font-weight: 700;
    }

    .listings .item .title small {
      font-weight: 400;
    }

    .listings .item.active .title,
    .listings .item .title:hover {
      color: #8cc63f;
    }

    .listings .item.active {
      background-color: #f8f8f8;
    }

     ::-webkit-scrollbar {
      width: 3px;
      height: 3px;
      border-left: 0;
      background: rgba(0, 0, 0, 0.1);
    }

     ::-webkit-scrollbar-track {
      background: none;
    }

     ::-webkit-scrollbar-thumb {
      background: #00853e;
      border-radius: 0;
    }

    .clearfix {
      display: block;
    }

    .clearfix::after {
      content: '.';
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
    /* ------------------------ // End of Map CSS // ----------------------- */
  </style>

</body>
