<body>

  <div class="container-fluid map-container">
    <div class='sidebar' id='sidebar'>

      <h1 id="forceblack">Restraunts</h1>

      <div id='listings' class='listings'></div>


      <script type="text/javascript">
        $.get("http://ipinfo.io", function(response) {
          $.getJSON('https://ipapi.co/' + response.ip + '/json', function(data) {
            $.ajax({
              type: 'POST',
              data: {
                "ip": response.ip,
                "food_type": getParameterByName('type', window.location.href),
                "long": data.longitude,
                "lat": data.latitude,
                "radius": 1000,
                "limit": 50
              },
              success: function(response) {
                DOMUpdate(response);
              },
              error: function(xhr) {
                console.log("Failure");
                console.log(xhr)
              },
              url: 'http://localhost:5000/yelp'
            });
          });
        }, "jsonp");

        function DOMUpdate(response) {
          console.log(response);





          var listings = document.getElementById('listings');
          for (i = 0; i < response.length; i++) {

            var name = response[i].name;
            var listing = listings.appendChild(document.createElement('div'));
            listing.className = 'item';
            listing.id = 'listing-' + i;
            var details = listing.appendChild(document.createElement('div'));
            details.innerHTML = name;
          }



        }


        function getParameterByName(name, url) {
          if (!url) {
            url = window.location.href;
          }
          name = name.replace(/[\[\]]/g, "\\$&");
          var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
          if (!results) return null;
          if (!results[2]) return '';
          return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
      </script>


    </div>
    <div id='map' class='map'></div>
  </div>

  <style media="screen">

  </style>

  <script type="text/javascript">
    mapboxgl.accessToken = 'pk.eyJ1IjoiamVyZW15c21vcmdhbiIsImEiOiJjaWxjemtvYWEzejR4dHlseGlkaGZmb2t5In0.BOYaLR5RW0tbUPTFuz5Y0g';
    // This adds the map to your page
    var map = new mapboxgl.Map({
      // container id specified in the HTML
      container: 'map',
      // style URL
      style: 'mapbox://styles/jeremysmorgan/cixxc3h1i00232rqjeeagcb2l',
      // initial position in [long, lat] format
      center: [-78.914056, 36.005626],
      // initial zoom
      zoom: 13
    });


    var currentLayer = {
      id: "restraunts",
      type: ""
    }


    map.on('load', function(e) {
      // Add the data to your map as a layer
      map.addLayer({

        "id": "points",
        "type": "symbol",
        "source": {
          "type": "geojson",
          "data": {
            "type": "FeatureCollection",
            "features": [{
              "type": "Feature",
              "geometry": {
                "type": "Point",
                "coordinates": [-78.914056, 36.005626]
              },
              "properties": {
                "title": "Mapbox DC 🍕",
                "icon": "monument"
              }
            }, {
              "type": "Feature",
              "geometry": {
                "type": "Point",
                "coordinates": [-122.414, 37.776]
              },
              "properties": {
                "title": "Mapbox SF",
                "icon": "harbor"
              }
            }]
          }
        },
        "layout": {
          "icon-image": "{icon}-15",
          "text-field": "{title}",
          "text-font": ["Open Sans Semibold", "Arial Unicode MS Bold"],
          "text-offset": [0, 0.6],
          "text-anchor": "top"
        }
      });
    });
  </script>


</body>
